{% extends "../base.html" %}
{% load static %}
{% block title %}
{% if subcategory %}{{ subcategory.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<main>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="pb-3 h5">{{subcategory.name}}</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                {% for product in products %}

                <div class="col">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <img class="img-thumbnail" width="250px" height="250px"
                     src="{{ product.image.url }}">

                        <div class="card-body">
                            <p class="card-text">
                                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


</main>

{% endblock %}