{% extends "../base.html" %}
{% load static %}
{% block title %}
{% if subcategory %}{{ subcategory.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<main>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="pb-3 h5">{{subcategory.name}}</div>
            <div class="row justify-content-md-left">

                {% for product in products %}

                <div class="col-md-auto">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <img class="thumbnail ml-3" width="250px" height="270px"
                             src="{{ product.image.url }}">

                        <div class="card-body">
                            <p class="card-text">
                                <a href="{{ product.get_absolute_url }}" class="text-decoration-underline">{{ product.name }}</a>
                            </p>
                            <p class="card-text">
                                <a class="fw-bold text-dark float-right">{{ product.price }} EUR </a>
                            </p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


</main>

{% endblock %}